body{margin: 0;
    background-image: url(1.png);
    height: fit-content;
}


h1{text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
 }
 h2{text-align: center;
  font-family: 'Pixelify Sans', sans-serif;   
  font-size:30px;
    }
   
.intro{
  padding-top: 20px;
  padding-bottom: 20px;
    display: block;
    width: fit-content;
   margin:50px;
   margin-left: 70px;
   margin-right:70px;
   line-height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-style:ridge;
  border-width: 10px;
  


}

 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Pixelify Sans', sans-serif;    
    background-image: linear-gradient(to right, red, orange, yellow, yellowgreen, green, blue, violet, pink ) ;
    font-weight: bold;
 
  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #fff;
  }
 p{
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;    
    font-size:20px;

 }

  /* Style for grid items */
  .grid-container {
    display: grid;
    gap: 1px;
    background-color: white; /* Background color for the grid */
    border: 1px solid black; /* Border for the grid */
    margin: 0px auto;
    margin-top: 20px;
    max-width: 500px; /* Fixed width for the grid */
    height: 500px; /* Fixed height for the grid */
    overflow: hidden; /* Prevents the container from expanding when grid items become too small */
}

.grid-item {
  background-color: white; /* Background color for grid items */
  border: 1px solid black; /* Border for grid items */
}

.grid-item:hover {
    background-color: #ddd; /* Hover color for grid items */
}

 /* CSS styles for slider */
 .slider-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 18px;
  
}

.slider-label {
  margin-right: 10px;
}

 /* CSS styles for slider */
 .slider-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.slider-container,
button#reset {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.slider-label {
  margin-right: 10px;
}

.slider-value {
  font-size: 14px;
  margin-left: 10px;
  width: 30px;
  text-align: center;
  color: #333; /* Color for slider value */
}

/* Hide the default slider appearance */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3; /* Default background color */
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Customize the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50; /* Slider thumb color */
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4CAF50; /* Slider thumb color */
  border-radius: 50%;
  cursor: pointer;
}


button{
  text-align: center; /* Center the button horizontally */
    margin-top: 20px; /* Add margin to the top */
    display: block;
    margin: auto;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    background-color: white;

}
.sample{ 
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;    
  font-size: 30px;
}
.sample-container{
    display:flex;
    justify-content:center;
}
.sample:hover {
  transform: scale(1.1); /* Scale up the sample on hover */
}
.sample1{ 
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color:red;
    display:inline-block;
    margin:5px;
    
  
}
.sample2{ 
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: orange;
    display: inline-block;
    margin:5px;
}
.sample3{ 
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: yellow;
    display: inline-block;
    margin:5px;
}
.sample4{ 
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: yellowgreen;
    display: inline-block;
    margin:5px;
}
.sample5{ 
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: green;
    display: inline-block;
    margin:5px;
}


.sample6{
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: blue;
    display: inline-block;
    margin:5px;
}
.sample7{
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: blueviolet;
    display: inline-block;
    margin:5px;
}
.sample8{
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: pink;
    display: inline-block;
    margin:5px;
}
.sample9{
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: black;
    display: inline-block;
    margin:5px;
}
.sample10{
    height:50px;
    width:50px;
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    margin:5px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
/* The grid: Four equal columns that floats next to each other */
.row {display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; /* Negative margin to compensate for padding */
        }

.column {flex: 25%; /* Each column should take up 25% of the row */
  padding: 10px;
        }

/* Style the images inside the grid */
.column img {opacity: 0.5;
  cursor: pointer;
  width: 100%; /* Make sure images fill the column */
  transition: opacity 0.3s;}

  .column img:hover {
    opacity: 1;
      }

  
  @media only screen and (max-width: 768px) {
    body {
      background-image: none;
      background-color: white;

    }
    .grid-container{
      max-width: 400px; /* Fixed width for the grid */
      height: 400px; 
      
    }
    .row {
      display: flex; /* Change display to flex */
      flex-wrap: wrap; /* Allow items to wrap to the next line */
  }

  .column {
      width: 50%; /* Change width to 50% for two columns */
      flex-grow: 1; /* Allow columns to grow to fill the space */
      flex-basis: 50%; /* Set initial size of columns */
      margin-bottom: 20px; /* Add margin to create space between columns */
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 15px;
}

/* Add Animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
      width: 100%;
  }
}